.artShow-container {
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.coming-soon {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 100%;
    text-align: center;
    /* font-size: 14vw; */
    /* align-items: center; */
}

.carousel-container {
    /* display: flex; */
    /* height: 100vh; */
    /* justify-content: center; */
    max-width: 100%;
}

.artist-container {
    margin: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.artShow-carousel {
    /* max-width: 40%; */
    margin: 2vh;
    /* border: solid #303030; */
    padding: 5px;
    height: fit-content;
}

.artShow-carousel img {
    width: 100%;
}

.artist-desc span{
    font-size: 16px;
    font-style: italic;
    color: gray;
}

.coming-soon h1 {
    font-size: 12vw;
    font-weight: 700;
    color: #F25000;
    text-decoration-line:underline;
    /* text-decoration-color: #303030; */
}

@media screen and (max-width: 992px) {
    .artShow-container {
        margin-top: 13vh;
    }
}

@media screen and (max-width: 576px){
    .artShow-container {
        margin-top: 88px;
    }
}
