
.page-title {
    border-bottom: solid #303030;
}

.page-title h1 {
    font-size: 6vw;
    font-weight: 800;
    /* margin-bottom: 0; */
}

.sub-title {
    border-bottom: solid #303030;
}

.sub-title h2 {
    margin-left: 10px;
    margin-bottom: 0;
}

/* .page-title h2 {
    margin-left: 15px;
} */

.image-row {
    border-bottom: solid #303030;
}

.image-row h1 {
    font-size: 4vw;
    font-weight: 700;
    line-height: 1.2em;
}

.img-container img {
    width: 80%;
}

.selectWord {
    color: #F25000;
}

@media screen and (max-width: 992px) {
    .page-title h1{
        font-size: 4rem;
    }
}