
.about-container {
    margin-top: 2vh;
    margin-bottom: 5vh;
}
.page-title {
    border-bottom: solid #303030;
}

.page-title h1 {
    font-size: 6rem;
    font-weight: 800;
}

.sub-title {
    border-bottom: solid #303030;
}

.sub-title h2 {
    margin-left: 10px;
    margin-bottom: 0;
}

.image-row {
    border-bottom: solid #303030;
}

.image-row h1 {
    font-size: clamp(1rem, 4vw, 4rem);
    font-weight: 700;
    line-height: 1.2em;
    /* margin: 0 auto; */
}

.img-container {
    display: flex;
    justify-content: center;
}

.img-container img {
    max-width: 80%;
}

.txt-container {
    display: flex;
    justify-content: center;
}

.selectWord {
    color: #F25000;
}

@media screen and (max-width: 992px) {
    .about-container {
        margin-top: 12vh;
    }
    .page-title h1{
        font-size: 4rem;
    }
}