

.app-container {
   /* margin: auto; */
   position: relative;
   /* align-items: center; */
   display: flex;
   flex-direction: column;
   height: 100vh;
}

.nav-blank {
   width: 235px;
}

@media (min-width: 1400px) {
   .app-container {
      /* max-width: none; */
   }
}


@media screen and (max-width: 992px) {
   .app-container {
    /* margin-left: auto !important; */
    margin-top: 2vh !important;
    position: initial;
    left: initial;
    /* margin-right: auto; */
   }

   .nav-blank {
      display: none;
   }
}

@media screen and (max-width: 768px) {
   .app-container {
      margin-top: 3vh !important;
   }
}