

footer {
    background-color: white;
    z-index: 20;
    height: auto;
    /* border-top: solid #303030; */
    margin-left: 190px;
}

footer .container {
    max-width: 100%;
}

.locations h2 {
    font-size: 3vw;
    font-weight: 700;
}

.hours h2 {
    font-size: 3vw;
    font-weight: 700;
}

.contact-us {
}

.contact-us h1 {
    font-size: 4vw;
    font-weight: 800;
}

.frame-logo {
    width: 300px;
}

.frame-logo img {
    margin-left: 10px;

}

@media screen and (max-width: 992px) {
    footer {
        margin-left: initial;
    }
    
    footer .container {
        max-width: initial;
    }
}

