

footer {
    background-color: #e6e2de;
    height: auto;
    border-top: solid #303030;
    /* width: 100vw;
    margin-left: 180px; */
}

footer .container {
    max-width: 100%;
}

.contact-us h1 {
    font-size: 3rem;
    font-weight: 800;
}

.locations h2 {
    font-size: 3rem;
    font-weight: 700;
}

.hours h2 {
    font-size: 3rem;
    font-weight: 700;
}

.frame-logo {
    width: 300px;
}

.frame-logo img {
    margin-left: 10px;

}

@media screen and (max-width: 992px) {
    footer {
        margin-left: initial;
    }
    
    footer .container {
        max-width: initial;
    }
}

