header {
    overflow: hidden;
    position: absolute;
}

.navbar-main {
    height: 100vh;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    z-index: 9;
    position: fixed;
    border-right: solid #303030;
    left: -210px;
}

.navbar-pages {
    display: flex;
    flex-direction: column !important;
    justify-content: space-around;
    margin-top: 20vh;
    margin-right: 200px;
}

.nav-cart-login {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 50px;
}

.nav-container {
    flex-direction: column;
}

.frame-button {
    background-color: transparent;
    border: none;
    font-family: 'Arial', sans-serif;
    font-size: 40px;
    color: #303030;
    font-weight: 700;
    margin-top: 50px;
}

.logo-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 5vh;
    transform: translateX(0%);
    transition: transform 1s;
    margin-left: auto;
    
}

@media screen and (max-width: 992px) {
    .navbar-main {
        height: auto;
        width: 100vw;
        display: flex;
        border-right: none;
        border-bottom: solid #303030;
        position: fixed;
        transition: transform !important;
        transform: translateX(0) !important;
        left: initial;
    }
    .nav-container {
        flex-direction: row;
    }
    .navbar-pages {
        margin-top: auto;
        transform: initial !important;
        transition: initial;
        margin-right: initial;
    }
    .nav-cart-login {
        flex-direction: row;
        position: initial;
        bottom: initial;
    }
    .frame-button {
        transform: rotate(0deg) !important;
        transition: transform !important;
        margin-top: initial;
        pointer-events: none;
    }
    .logo-container {
        margin-left: initial;
        flex-direction: row;
        margin-top: initial;
        transition: initial !important;
        transform: initial !important;
    }
}

.logo {
    margin-left: 20px;
}

.pages {
    /* margin-left: 200px; */
    font-size: 35px;
    color: #303030;
    font-weight: 600;
    margin-left: -5%;
    margin-top: 10vh;
    transform: translateX(0);
    transition: transform 1s;
    
}

