.home-wrapper {
    /* overflow-x: hidden; */
}
.sec1 {
    height: 100vh ;
}

.sec2 {
    /* height: fit-content; */
}

.sec3 {
    display: flex;
    justify-content: center;
    background-color: #e6e2de;

}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@media screen and (max-width: 992px) {

    .sec1 {
        height: fit-content;
    }
}