
/* .home-wrapper {
    display: flex;
    flex-direction: column;
} */



.sec1 {
    height: 100vh ;
}

.sec2 {
    height: fit-content;
}

.sec3 {
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    background-color: #e6e2de;

}

@media screen and (max-width: 992px) {

    .sec1 {
        height: fit-content;
    }
}