.insta-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    padding: 15px;
    /* width: 90%; */
    /* border: solid #303030; */
    
  }
  
  .insta-container img {
    width: 100%;
    height: auto;
    display: block;
    transition: all 100ms ease-out;
  }
  
  .insta-container img:hover {
    transform: scale(1.04);
  }