.title-animation {

    height: 100vh;
    display: flex;
    flex-direction: column;
}

.bean-container {
    display: flex;
    justify-content: center;
    /* position: fixed; */
    /* transform:  translatex(-50%) translatey(-50%); */
}

.bean-container img {
    width: 30%;
    height: auto;
    margin-top: 20%;
    position: fixed;
}

.first-half {
    display: flex;
    flex-direction: column;
}

.second-half {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    margin-bottom: 4vh;
}

.phrase {
    font-size: 7vw;
    font-weight: 800;
    line-height: 0.9em;
    margin-top: 0px;
    margin-bottom: 0px;
}

.phrase-wrapper div {
    background-color: #303030;
}

.phrase a {
    color: #ED7D31;
    text-decoration: none;
}

@media screen and (max-width: 992px) {
    .title-animation {
        height: 90vh;
    }
    .phrase {
        font-size: 4rem;
    }
}
